{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Controle de Ponto</title>
</head>
<body>
    <main>
        <form action="{% static "page/entrada.html" %}" method="post" id="formulario">
            {% csrf_token %}
            <h1>PONTO ELETRÔNICO</h1>
            <label for="digiteMatricula"><h2>Digite sua matrícula</h2></label>
            <div id="containerMatricula">
                <input type="number" name="matricula" id="digiteMatricula" autocomplete="off" required>
                <button id="login"><img id="logar" src="{% static 'img/login.png' %}"></button>
            </div>            
            <div id="numeros">
                <input type="button" class="tecladoNumerico" value="1" id="numeroUm">
                <input type="button" class="tecladoNumerico" value="2" id="numeroDois">
                <input type="button" class="tecladoNumerico" value="3" id="numeroTres">
                <input type="button" class="tecladoNumerico" value="4" id="numeroQuatro">
                <input type="button" class="tecladoNumerico" value="5" id="numeroCinco">
                <input type="button" class="tecladoNumerico" value="6" id="numeroSeis">
                <input type="button" class="tecladoNumerico" value="7" id="numeroSete">
                <input type="button" class="tecladoNumerico" value="8" id="numeroOito">
                <input type="button" class="tecladoNumerico" value="9" id="numeroNove">
                <input type="button" class="tecladoNumerico" style="visibility: hidden;">
                <input type="button" class="tecladoNumerico" value="0" id="numeroZero">
                <input type="button" value="⌫" id="backspace">
            </div>
            <footer>
                <p>DESENVOLVIDO POR Gm Tech <br> <strong id="anoAtual"><!--RECEBE O ANO ATUAL--></strong></p>
            </footer>
        </form>
        <aside>
            <img src="{% static 'img/logoIpanguacu.png' %}" id="logoIpanguacu">
            <p id="livre"><img src="{% static 'img/arrow.png' %}">LIVRE</p>
            <div id="todo">
                <div id="tempo">
                    <img src="{% static 'img/relogio.png' %}" id="relogio">
                    <p id="hourParagraph" class="timeParagraph"><!--RECEBE AS HORAS NO (XH XXMIN)--></p>
                </div>
            </div>
            <p id="containerData" class="timeParagraph"><!--RECEBE A DATA (DIA DA SEMANA, DIA, MÊS, ANO)--></p>
            <div id="containerPersonBadge">
                <img src="{% static 'img/person-badge.png' %}" id="person_badge">
                <div id="containerBookmark">
                    <img src="{% static 'img/bookmark.png' %}" id="bookmark">
                </div>
            </div>
        </aside>
    </main>
    <!-- SCRIPTS -->
    <script src="{% static 'scripts/dia.js' %}"></script>
    <script src="{% static 'scripts/horas.js' %}"></script>
    <script src="{% static 'scripts/aprov.js' %}"></script>
    <script src="{% static 'scripts/anoAtual.js' %}"></script>
    <script src="{% static 'scripts/tecladoNumerico.js' %}"></script>
</body>
</html>