<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- start -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Controle de Ponto</title>
</head>
<body>
    <main>
        <form action="livre.html" method="post" id="formulario">
            <h1>PONTO ELETRÔNICO</h1>
        
            <label for="digiteMatricula"><h2>Digite sua matrícula</h2></label>
            <input type="number" id="digiteMatricula" autocomplete="off" required>
            <button id="login" type="button"><img id="logar" src="img/login.png" alt=""></button>

            <div id="numeros">
                <input type="button" class="tecladoNumerico" value="1" id="numeroUm">
                <input type="button" class="tecladoNumerico" value="2" id="numeroDois">
                <input type="button" class="tecladoNumerico" value="3" id="numeroTres">
                <input type="button" class="tecladoNumerico" value="4" id="numeroQuatro">
                <input type="button" class="tecladoNumerico" value="5" id="numeroCinco">
                <input type="button" class="tecladoNumerico" value="6" id="numeroSeis">
                <input type="button" class="tecladoNumerico" value="7" id="numeroSete">
                <input type="button" class="tecladoNumerico" value="8" id="numeroOito">
                <input type="button" class="tecladoNumerico" value="9" id="numeroNove">
                <input type="button" class="tecladoNumerico" style="visibility: hidden;">
                <input type="button" class="tecladoNumerico" value="0" id="numeroZero">
                <input type="button" value="⌫" id="backspace">
            </div>
            <footer>
                <img src="img/logoIpanguacu.png" alt="">
            </footer>
        </form>

        <aside>
            <img src="./img/logoIpanguacu.png" id="logoIpanguacu">
            <button type="submit" id="submit">
                <img src="img/arrow-bar-right 1.png">
                SAÍDA
            </button>
            <div id="todo">
                <div id="tempo">
                    <img src="img/clock-history 1.png" id="clock">
                    <p id="hourParagraph" class="timeParagraph">00h 00min</p>
                </div>
            </div>
                <p id="containerData" class="timeParagraph"></p>
            
            <div id="containerPersonBadge">
                <img src="img/person-badge-fill 1.png" id="person_badge">
                <div id="funcionario">
                        <p id="usuario">Gabriel Rocha</p>
                        <p id="funcao">Desenvolvedor Web</p>
                </div>
            </div>
            <div id="containerBookmark">
                <img src="img/building-fill 2.png" id="bookmark">
            </div>
        </aside>
    </main>

    <!-- SCRIPTS -->

    <script src="./scripts/tecladoNumerico.js"></script> 
    <script src="./scripts/confirmacaoSaida.js"></script>
</body>
</html>