{% extends "base/base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "ponto/css/style.css" %}">
    <link rel="stylesheet" href="{% static "ponto/css/style_entrada.css" %}">
{% endblock style %}

{% block main %}

    <main>
        <form action="page/saida.html" method="post" id="formulario">
            <h1>PONTO ELETRÔNICO</h1>
            <label for="digiteMatricula"><h2>Digite sua senha</h2></label>
            <div id="containerMatricula">
                <input type="number" name="senha" id="digiteMatricula" autocomplete="off" required>
                <button id="login"><img id="logar" src="../img/login.png"></button>
            </div>            
            <div id="numeros">
                <input type="button" class="tecladoNumerico" value="1" id="numeroUm">
                <input type="button" class="tecladoNumerico" value="2" id="numeroDois">
                <input type="button" class="tecladoNumerico" value="3" id="numeroTres">
                <input type="button" class="tecladoNumerico" value="4" id="numeroQuatro">
                <input type="button" class="tecladoNumerico" value="5" id="numeroCinco">
                <input type="button" class="tecladoNumerico" value="6" id="numeroSeis">
                <input type="button" class="tecladoNumerico" value="7" id="numeroSete">
                <input type="button" class="tecladoNumerico" value="8" id="numeroOito">
                <input type="button" class="tecladoNumerico" value="9" id="numeroNove">
                <input type="button" class="tecladoNumerico" style="visibility: hidden;">
                <input type="button" class="tecladoNumerico" value="0" id="numeroZero">
                <input type="button" value="⌫" id="backspace">
            </div>
            <footer>
                <img src="../img/logoIpanguacu.png" id="footerImg">
            </footer>
        </form>
        <aside>
            <img src="../img/logoIpanguacu.png" id="logoIpanguacu">
            <p id="livre"><img src="../img/arrow.png">ENTRADA</p>
            <div id="todo">
                <div id="tempo">
                    <img src="../img/relogio.png" id="relogio">
                    <p id="hourParagraph" class="timeParagraph"> <!--RECEBE AS HORAS NO (XH XXMIN)--></p>
                </div>
            </div>
            <p id="containerData" class="timeParagraph"> <!--RECEBE A DATA (DIA DA SEMANA, DIA, MÊS, ANO)--></p>
            <div id="containerPersonBadge">
                <img src="../img/person-badge.png" id="person_badge">
                <div id="funcionario">
                    <p class="usuario">Paulo Henrique Felipe Fagundes</p>
                    <p class="funcao">Desenvolvedor de Software</p>
                </div>
            </div>
            <div id="containerBookmark">
                <img src="../img/predio.png" id="bookmark">
            </div>
        </aside>
    </main>
{% endblock main %}


{% block script %}
        <script src="{% static 'ponto/js/dia.js' %}"></script>
        <script src="{% static 'ponto/js/horas.js' %}"></script>
        {% comment %} <script src="{% static 'ponto/js/aprov.js' %}"></script> {% endcomment %}
        <script src="{% static 'ponto/js/anoAtual.js' %}"></script>
        <script src="{% static 'ponto/js/tecladoNumerico.js' %}"></script>
{% endblock script %}

