{% extends "base/base.html" %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static "ponto/css/style.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock style %}

{% block main %}

 <main>
        <form action="{% url "entrada" %}" method="POST" id="formulario" >
            {% csrf_token %}
            <h1>PONTO ELETRÔNICO</h1>
            <label for="digiteMatricula"><h2>Digite sua matrícula</h2></label>
            <div id="containerMatricula">
                <input type="number" name="matricula" id="digiteMatricula" autocomplete="off" required>
                <button id="login" type='submit'><img id="logar" src="{% static 'ponto/img/login.png' %}"></button>
              
            </div>            
        </form>
            <div id="numeros">
                <input type="button" class="tecladoNumerico" value="1" id="numeroUm">
                <input type="button" class="tecladoNumerico" value="2" id="numeroDois">
                <input type="button" class="tecladoNumerico" value="3" id="numeroTres">
                <input type="button" class="tecladoNumerico" value="4" id="numeroQuatro">
                <input type="button" class="tecladoNumerico" value="5" id="numeroCinco">
                <input type="button" class="tecladoNumerico" value="6" id="numeroSeis">
                <input type="button" class="tecladoNumerico" value="7" id="numeroSete">
                <input type="button" class="tecladoNumerico" value="8" id="numeroOito">
                <input type="button" class="tecladoNumerico" value="9" id="numeroNove">
                <input type="button" class="tecladoNumerico" style="visibility: hidden;">
                <input type="button" class="tecladoNumerico" value="0" id="numeroZero">
                <input type="button" value="⌫" id="backspace">
            </div>
            <footer>
                <p>DESENVOLVIDO POR Gm Tech <br> <strong id="anoAtual"><!--RECEBE O ANO ATUAL--></strong></p>
            </footer>
        </form>
        <aside>
            <img src="{% static 'ponto/img/logoIpanguacu.png' %}" id="logoIpanguacu">
            <p id="livre"><img src="{% static 'ponto/img/arrow.png' %}">LIVRE</p>
            <div id="todo">
                <div id="tempo">
                    <img src="{% static 'ponto/img/relogio.png' %}" id="relogio">
                    <p id="hourParagraph" class="timeParagraph"><!--RECEBE AS HORAS NO (XH XXMIN)--></p>
                </div>
            </div>
            <p id="containerData" class="timeParagraph"><!--RECEBE A DATA (DIA DA SEMANA, DIA, MÊS, ANO)--></p>
            <div id="containerPersonBadge">
                <img src="{% static 'ponto/img/person-badge.png' %}" id="person_badge">
                <div id="containerBookmark">
                    <img src="{% static 'ponto/img/bookmark.png' %}" id="bookmark">
                </div>
            </div>
        </aside>
    </main>

{% endblock main %}

{% block script %}
    <script src="{% static 'ponto/js/dia.js' %}"></script>
    <script src="{% static 'ponto/js/horas.js' %}"></script>
    {% comment %} <script src="{% static 'ponto/js/aprov.js' %}"></script> {% endcomment %}
    <script src="{% static 'ponto/js/anoAtual.js' %}"></script>
    <script src="{% static 'ponto/js/tecladoNumerico.js' %}"></script>

{% endblock script %}




