#livre {
    background-color: #0E3F6A;
}
#hourParagraph {
    color: #0E3F6A;
}
#containerPersonBadge {
    display: flex;
    margin: 60px;
    align-items: center;
    justify-content: center;
}
#funcionario {
    width: 24vw;
    display: block;
    color: gray;
    justify-content: center;
    text-align: center;
}
p.usuario {
    font-size: 3.5vw;
    font-weight: bold;
}
p.funcao {
    font-size: 2vw;
}
#person_badge {
    margin: 1px;
    filter: grayscale(100%);
}
#footerImg {
    display: block;
    margin: auto;
}
footer {
    background: none;
}